.main {
	display: inline-block;
	position: relative;
	width: 340px;
	height: 60px;
}

.step1 {
    margin: 0 0 30px 0;
	position: relative;
	width: 310px;
	height: 60px;
	left: 0px;
	top: 0px;
	background: linear-gradient(180deg, #686868 0%, #B3B3B3 50.52%, #686868 100%);
}

.step1:before {
    content: "";
    position: absolute;
    right: -30px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 30px solid black;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    background-color: linear-gradient(180deg, #686868 0%, #B3B3B3 50.52%, #686868 100%);
    }

.main p {
	padding: 0;
	margin: 0;
	position: absolute;
	width: 70px;
	height: 26px;
	left: calc(50% - 70px/2);
	top: calc(50% - 26px/2);

	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	line-height: 26px;
	/* identical to box height */

	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 0.1em;

	color: #FFFFFF;

	text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
}


.step2 {
	margin: 0 30px 0 0;
	display: block;
    width: 310px;
    height: 60px;
    position: relative;
    background: linear-gradient(180deg, #2EA239 0%, #62FD71 50.52%, #2EA139 100%);
}
.step2:after {
	display: block;
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 30px solid white;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    background: linear-gradient(180deg, #2EA239 0%, #62FD71 50.52%, #2EA139 100%);
}
.step2:before {
	display: block;
    content: "";
    position: absolute;
    right: -30px;
    bottom: 0;
    width: 0;
    height: 0;
    background: linear-gradient(180deg, #2EA239 0%, #62FD71 50.52%, #2EA139 100%);
    border-left: 30px solid black;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
}

.step3 {
    margin: 0 30px 0 0;
    display: block;
    width: 300px;
    height: 60px;
    position: relative;
    background: linear-gradient(180deg, #686868 0%, #B3B3B3 50.52%, #686868 100%);
}
.step3:after {
    display: block;
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 30px solid white;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
}
